# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/JuceLibraryCode/modules
/Builds/VisualStudio2013/*.sdf
/Builds/VisualStudio2013/*.suo
/Builds/VisualStudio2013/*.vcxproj.filters
